name: digital_waqt_azan
description: A clean Flutter azan and prayer time application.
publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.2

  # FIXED: Correct latest stable version
  http: ^1.2.2  

  # Add any packages you used:
  flutter_local_notifications: ^17.1.0
  intl: ^0.19.0
  audioplayers: ^6.0.0
  timezone: ^0.9.2

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/logo.png
    - assets/sounds/azan_manual.mp3
